<a href="https://colab.research.google.com/github/gamal-zayed/machine-learning/blob/main/GZ_lab4_LinearRegressionSample_HintsOnAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



---

---


# **Linear Classification**


---


---

In [ ]:
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import datasets
import matplotlib.pyplot as plt
import sympy
from fractions import Fraction as F


Steps for Linear Regression sample:

---


#1-Generate a sample by equation


> *y=w1X1+w2X2+....+b*

#2-Generate random number for Xs

#3-Apply Linear Regression

#4-Proof the same equation will return using generated sample datasets

In [ ]:
import numpy as np
import random

#Apply that Algorithm for 1 D , 2 D hyper plane

In [ ]:
# 1D features

x= [i for i in range(200)]
x1_array=np.array(x)
b=np.ones(200)
x_features1 = np.zeros((200,2),int)
x_features1[:,0]=b
x_features1[:,1]=x
y_random=[round(3*i+5+random.random(),4) for i in range(200)]  # y= 3x1+5
print(y_random)

[5.5822, 8.7432, 11.6009, 14.2623, 17.1257, 20.3135, 23.809, 26.4144, 29.9371, 32.7107, 35.4292, 38.9831, 41.3899, 44.5056, 47.8824, 50.9641, 53.6936, 56.5157, 59.2482, 62.3073, 65.7816, 68.5136, 71.3055, 74.6668, 77.5066, 80.4991, 83.8302, 86.1332, 89.152, 92.3626, 95.5454, 98.9598, 101.0531, 104.9152, 107.2753, 110.7188, 113.5312, 116.2596, 119.6586, 122.6239, 125.7991, 128.0443, 131.888, 134.6882, 137.8904, 140.6792, 143.9545, 146.0245, 149.8869, 152.0596, 155.6322, 158.0813, 161.6506, 164.1885, 167.8033, 170.3263, 173.3811, 176.5074, 179.8279, 182.1202, 185.6381, 188.1111, 191.9684, 194.6904, 197.9112, 200.5857, 203.0053, 206.8668, 209.1191, 212.9273, 215.1957, 218.7892, 221.8782, 224.5155, 227.9663, 230.7527, 233.0638, 236.4224, 239.4279, 242.5877, 245.8234, 248.5337, 251.4451, 254.0005, 257.6652, 260.7101, 263.4514, 266.0518, 269.754, 272.8691, 275.5758, 278.0077, 281.1786, 284.0757, 287.9212, 290.0874, 293.8768, 296.6292, 299.7227, 302.1696, 305.5597, 308.3524, 311.6876, 314.2237, 317.903, 320.5667, 323.064, 326.1669, 329.1343, 332.4573, 335.6603, 338.3773, 341.3913, 344.4421, 347.6654, 350.2501, 353.6791, 356.0237, 359.5896, 362.9738, 365.7021, 368.4273, 371.4366, 374.1942, 377.9911, 380.278, 383.8465, 386.6248, 389.821, 392.2816, 395.6034, 398.1001, 401.8627, 404.7752, 407.6963, 410.0719, 413.7031, 416.9852, 419.9975, 422.0829, 425.8044, 428.8191, 431.1686, 434.6429, 437.1894, 440.4003, 443.3573, 446.9324, 449.781, 452.4672, 455.7159, 458.0808, 461.3822, 464.4697, 467.6307, 470.4386, 473.7302, 476.648, 479.9038, 482.1621, 485.4999, 488.2983, 491.319, 494.2963, 497.8718, 500.7729, 503.6031, 506.0801, 509.8398, 512.643, 515.8632, 518.1936, 521.1683, 524.4278, 527.5437, 530.9949, 533.1111, 536.746, 539.7436, 542.4348, 545.408, 548.8832, 551.4302, 554.3416, 557.4579, 560.4968, 563.6163, 566.6763, 569.488, 572.7011, 575.6713, 578.7079, 581.5677, 584.1681, 587.1185, 590.4493, 593.0422, 596.0871, 599.8559, 602.9398]

In [ ]:
# 2D features

x1= [i for i in range(200)]
x2= [0.5*i for i in range(200)]
b=np.ones(200)
x1_array=np.array(x1)
x2_array=np.array(x2)
x_features2 = np.zeros((200,3),int)
x_features2[:,0]=b
x_features2[:,1]=x1
x_features2[:,2]=x2
#print(x_features)
#print(det(x_features))
y_rand=[round(3*i+4*(0.265*i)+5+random.uniform(0,1),4) for i in range(200)] # y= 3x1+4x2+5
print(y_rand)

[5.7015, 9.9662, 13.5665, 17.6095, 21.7226, 25.7721, 29.9162, 33.4887, 37.691, 42.4665, 46.4705, 50.2362, 53.7446, 58.413, 62.0409, 66.5591, 70.7228, 74.869, 78.6693, 82.8434, 87.147, 90.9592, 94.3301, 99.016, 103.4026, 106.8646, 110.98, 115.3223, 119.124, 123.4598, 127.0285, 131.7785, 135.8483, 139.9397, 143.3841, 147.8308, 151.2553, 155.8403, 159.8981, 164.0679, 168.0111, 172.3789, 176.1775, 180.0833, 183.9657, 187.9912, 192.2739, 196.1421, 200.1595, 204.7758, 208.5186, 212.9841, 216.1478, 220.1803, 224.3237, 229.0517, 232.4584, 236.9218, 241.0748, 245.2609, 249.4161, 253.2262, 257.541, 261.263, 265.3959, 269.29, 273.4682, 277.8113, 281.1081, 285.9231, 289.7868, 294.017, 297.4951, 302.1672, 305.8014, 309.5384, 314.1938, 317.9554, 322.5405, 326.5945, 330.5595, 333.9662, 338.6526, 342.9574, 346.3777, 350.625, 354.3749, 359.0747, 363.1295, 366.9821, 371.1938, 374.4659, 378.9999, 382.6346, 387.2141, 391.6606, 395.7082, 399.5664, 403.0685, 407.4949, 411.5078, 415.9815, 420.1143, 424.0134, 427.5182, 431.3581, 435.6053, 439.8474, 443.7842, 448.0847, 452.425, 456.6558, 460.166, 464.6916, 468.5272, 472.8755, 476.0885, 480.5676, 484.5656, 488.7975, 492.7532, 496.4918, 501.2765, 504.9877, 509.2333, 512.5552, 517.2532, 521.4446, 524.8496, 528.7974, 532.8117, 537.8411, 541.7387, 545.2531, 549.1012, 553.2151, 558.1313, 561.9856, 565.9259, 569.9927, 573.4076, 578.1871, 582.3994, 585.8182, 589.7467, 594.2298, 598.2373, 602.3872, 605.8815, 610.464, 614.9769, 619.0255, 622.8152, 626.9875, 630.6073, 634.6752, 638.7102, 642.4523, 647.413, 651.2765, 654.7487, 659.0622, 663.6698, 667.3943, 671.4483, 675.3567, 679.7405, 683.8452, 687.601, 691.5441, 695.2175, 699.438, 703.4317, 707.6336, 711.6927, 715.9822, 719.8706, 724.2616, 727.7099, 732.7318, 736.2876, 740.8498, 744.8889, 748.9161, 752.5374, 756.3996, 760.3846, 764.4852, 768.8898, 772.3607, 776.7774, 781.056, 785.1583, 789.4588, 793.3025, 797.008, 801.3725, 804.9959, 808.9174, 813.2748]

In [ ]:
def Model(x_features,y_rand):
  x_transpose= x_features.transpose()
  multiply=x_transpose.dot(x_features)
  inverse= np.linalg.inv(multiply)
  intermediate_multiply= inverse.dot(x_transpose)
  w=intermediate_multiply.dot(y_rand)

  return w

In [ ]:
model1D=  Model(x_features1,y_random)
print(model1D)
model2D= Model(x_features2,y_rand)
print(model2D)
x_test = np.array([1, 7])
y_est = (model1D.transpose()).dot(x_test) #x_test.dot(model1D) #
print("y est.= ", y_est)
error  = y_est - y_random[7]
print(error/y_random[7])

[5.54034709 2.99984819]
[ 5.53780757  4.142827   -0.16661993]
y est.=  26.53928438475942
0.004727890270436534

In [ ]:
x = np.array([1, 2])
y = np.array(([3, 4], [5, 6]))
print(x)
print(y)
print(y.dot(x.transpose()))

[1 2]
[[3 4]
 [5 6]]
[11 17]

##Refrences

https://machinelearningmastery.com/linear-regression-for-machine-learning/

https://towardsdatascience.com/linear-regression-derivation-d362ea3884c2



---



---


## **Linear Classification**

---



---

##Load IRIS datasets

In [ ]:

%matplotlib inline
iris = sns.load_dataset('iris')
iris_copy= iris.copy(deep=True)
b=np.ones(150)
iris_copy['Augmentation']= b
print(iris_copy)
iris_array=iris_copy.to_numpy()

     sepal_length  sepal_width  petal_length  petal_width    species  \
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

     Augmentation
0             1.0
1             1.0
2             1.0
3             1.0
4             1.0
..            ...
145           1.0
146           1.0
147           1.0
148           1.0
149           1.0

[150 rows x 6 columns]

In [ ]:
type(iris)

pandas.core.frame.DataFrame

## Linear Classification

### Split dataset
Hints:
1. split the training and test samples for **each** class with the ratio:

training--> 40

testing-->10

2. concatenate all the training data set together, then all the test data set together to have two large data sets using df1 = pd.DataFrame(.....)

3. take the target (y) alone for each class; this is what we will train with.

4. as we did in the lecture:

for class#1 y1 will be adjusted to be [1, -1, -1]

y2 will be adjusted to [-1, 1, -1]

y3 will be adjusted to [-1, -1, 1]

using y1.replace(.....)

5. apply all necessary modifications required for the X matrix *if* you need it

6. use the following methods to calculate ***W***:

matrix.transpose()

matrix1.dot(matrix2)

np.linalg.inv(matrix)

7. make the three classifier functions like:

def setosa_classifier(w,testdata):
....

8. do ***for*** loop over the test samples to classify them into y_predicted

9. calculate the prediction error



---



---


The coming section shows much more details:


---



---

### Make Z for all feature

###Calculate w
## w=(Z^T * Z)^-1 * Z^T * b

### One Vs All
Build 3 model

##w1, w2 , w3

Evaluation

Class #1
if w1^T * x  > 0
and w2^T * x < 0
and w3^T * x < 0

Class #2
if w1^T * x  < 0
and w2^T * x > 0
and w3^T * x < 0

Class #3
if w1^T * x  < 0
and w2^T * x < 0
and w3^T * x > 0

Undefine Class
if
 w1^T * x    > 0 and w2^T * x > 0 and w3^T * x < 0

OR

w1^T * x    < 0 and w2^T * x > 0 and w3^T * x > 0

OR

w1^T * x    > 0 and w2^T * x < 0 and w3^T * x > 0